.parent{
    justify-content: center;
    align-items: center; 
    display: flex;
    flex-wrap: wrap;
    gap: 3em;  
    margin: 2em 3em 2em 2em;
 
} 

.text{
    margin: 2em 9em;
    color:var(--button-border-color);
}

@media (max-width: 425px) {
    .parent{
        gap: 1.5em;       
    } 
    .text{
        margin: 2em 1em;
    } 
}

